body {
  font-family: roboto, noto, segoe ui, futura, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000010;
}

.hidden {
  display: none !important;
  opacity: 0;
  transition: opacity 1s;
}

#status-message {
  background-color: #ffffee;
}

.pause-on {
  background-color: #333;
  color: #fff;
}

/* Canvases stuff */

canvas {
  border: solid 1px white;
}

.canvases-container {
  display: flex;
  width: 100%;
  flex-direction: column;
  position: relative;
  align-items: center;
}

#image-board {
  z-index: 1;
  position: absolute;
}

#input-board {
  z-index: 2;
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

#ui-board {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#ui-board .clickable {
  pointer-events: auto;
}

#controls-layer {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#message-layer {
  background-color: white;
  text-align: center;
  padding: 1em;
  font-size: larger;
  border-radius: 0.5em;
  overflow-y: scroll;
  pointer-events: initial;
  max-width: 40em;
}

button {
  font-family: roboto, noto, segoe ui, futura, arial, -apple-system, BlinkMacSystemFont, avenir next, avenir, helvetica neue, helvetica, sans-serif;
}

#ui-board button {
  font-weight: bold;
  cursor: pointer;
  background-color: white;
  padding: 0.5em;
  border-radius: 1em;
  border-width: 1px;
  border-color: #333;
  min-width: 44px;
}

#ui-board #controls-layer button {
  border-width: 4px;
  animation: glow 2s infinite;
}

#ui-board button.close-message-button {
  margin-top: 0.5em;
  margin-bottom: 0;
}

#help-layer {
  background-color: white;
  padding: 1em;
  border-radius: 0.5em;
  max-width: 40em;
  overflow-y: scroll;
}

#help-layer .contents {
  overflow-y: scroll;
}

#help-layer strong {
  text-transform: uppercase;
}

#hud-layer {
  font-size: 18px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*! width: 100%; */
}

#hud-layer > div {
  padding: 0;
  margin-bottom: 0.8em;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

#hud-layer button {
  margin-bottom: 0;
}

.status-container > span {
  padding: 0.2em;
}

.hp-container {
  color: #fff;
  font-size: 1.2em;
  font-weight: bold;
  background-color: hsla(0, 0%, 0%, 0.8);
  border-radius: 0.5em;
}

.turn-label {
  color: hsl(60, 100%, 50%);
  border: dashed 2px;
  border-radius: 0.25em;
  font-weight: bold;
  background-color: hsla(0, 0%, 0%, 0.8);
  animation: text-blink 2s infinite;
}

.turn-label.player-turn {
  color: hsl(140.6, 81.8%, 49.6%);
  animation: none;
}

.centered-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#version-info {
  position: absolute;
  right: 1.5em;
  top: 1.5em;
  font-size: 0.5em;
  color: #888;
  z-index: 1;
}

@keyframes glow {
  0% { box-shadow: #fa7147 0 0 2px; }
  33% { box-shadow: #fa7147 0 0 20px; }
  50% { box-shadow: #fa7147 0 0 25px; }
  67% { box-shadow: #fa7147 0 0 20px; }
  100% { box-shadow: #fa7147 0 0 2px; }
}

@keyframes text-blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}
